.payment-status {
    margin: 20px 0 0 0;
    padding: 0;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
}

.payment-status li {
    margin-bottom: 10px;
    padding: 10px 20px;
}

.payment-status li label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;

}